.page-nav {
  @include flex-wrap();
  align-items: center;

  &__site-menu {
    width: 492px;
    margin-right: 50px;
    margin-left: auto;
  }
  
  &__shopping-cart {
    margin-right: 42px;
  }
}

