
// FONT-STACKS

$main-font-stack: 'Montserrat', sans-serif;
$second-font-stack: 'Roboto', sans-serif;
$contrast-font-stack: 'Kaushan Script', 'cursive';

// COLOR-FONT

$primary-font-color: rgb(153, 153, 153);
$second-font-color: rgb(51, 51, 51);

// COLOR-COMMON

$primary-white-color: rgb(255, 255, 255);
$contrast-page-color: rgb(243, 129, 129);
$aquamarine-color: rgb(149, 225, 211);
$hover-element-color: rgb(252, 227, 138);

// GRADIENT

$wellow-grd-color: rgba(252,227,138, .9);
$coral-grd-color: rgba(243,129,129, .9);